<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>282759313914-l6d7odpe2a7fvqgrh7i0ee52cr9s49dj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.282759313914-l6d7odpe2a7fvqgrh7i0ee52cr9s49dj</string>
	<key>API_KEY</key>
	<string>AIzaSyB8NJ4VgQB1X4ShtNvsXnr80LaK7HM1_ec</string>
	<key>GCM_SENDER_ID</key>
	<string>282759313914</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mdyusufkhan.DemoFirebase</string>
	<key>PROJECT_ID</key>
	<string>fir-testapplication-2da87</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-testapplication-2da87.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:282759313914:ios:4495d4b3855396290d0c43</string>
</dict>
</plist>